@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Menlo;
  src: url("/fonts/Menlo-Regular.woff");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #b2fefa;

    --background: 188 63.05% 6.8%;
    --foreground: 188 9.7% 99.25%;

    --muted: 188 48.5% 25.5%;
    --muted-foreground: 188 9.7% 58.5%;

    --popover: 188 45.6% 11.049999999999999%;
    --popover-foreground: 188 9.7% 99.25%;

    --card: 188 45.6% 11.049999999999999%;
    --card-foreground: 188 9.7% 99.25%;

    --border: 188 48.5% 25.5%;
    --input: 188 48.5% 25.5%;

    --primary: 188 97% 85%;
    --primary-foreground: 188 9.7% 8.5%;

    --secondary: 188 48.5% 25.5%;
    --secondary-foreground: 188 9.7% 99.25%;

    --accent: 188 48.5% 25.5%;
    --accent-foreground: 188 9.7% 99.25%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 188 9.7% 99.25%;

    --ring: 188 97% 85%;
  }
}

@layer base {
  body {
    font-family: Menlo, monospace;
    line-height: 1.725;
    font-size: 14px;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;

    scroll-gutter: static right;
  }

  .container2 {
    @apply max-w-5xl mx-auto px-4 md:px-8;
  }

  .iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 1rem;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .iframe-container.model {
    padding-top: 100%;
  }

  /* Then style the iframe to fit in the container div with full height and width */
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
